<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" />
    <title>Add product</title>
    <meta name="description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/add-post.css" />
  </head>
  <body>
    <main>
      <%- include('includes/navigation.ejs') %>
      <form action="/add-post" method="post">
        <input type="hidden" name="userId" value="<% userId %>" />
        <textarea name="post" rows="4"> </textarea>
        <input type="submit" />
      </form>
    </main>
  </body>
</html>
