<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <%- include('includes/navigation.ejs') %>
    <main>
      <h1>Login</h1>
      <form>
        <input type="email" placeholder="email" />
        <input type="password" placeholder="password" />
        <input type="submit"
      </form>
      <div class="links">
        <a href="/forget-password"> forget password </a>
        <a href="/signup"> signup </a>
      </div>
    </main>
  </body>
</html>
