main {
  width: 40%;
  margin: auto;
  text-align: center;
}

nav {
  width: 70%;
  margin: auto;
  padding: 1em;
  background-color: #53addd;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

textarea,
input[type="hidden"],
input[type="submit"] {
  display: block;
  padding: 1.3em 0.5em;
  border-style: revert;
  margin: 0.5em auto;
}

textarea,
input[type="hidden"] {
  width: 100%;
}

input[type="submit"] {
  width: 102.5%;
}

input[type="submit"]:hover {
  cursor: pointer;
}
