main {
  width: 40%;
  margin: auto;
}

nav {
  width: 70%;
  margin: auto;
  padding: 1em;
  background-color: #53addd;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.quote {
  background-color: gray;
  padding: 1em;
  margin: 0.5em 0;
  color: white;
}
